* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;

}

/* header and navigation styles */
nav {
    background-image: url(../images/banner/banner2.png);
    display: flex;
    margin: 50 200px;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
}
nav li{
    margin-bottom: 50px;
}

.nav-tittle {

    text-align: right;
    justify-content: center;
    font-size: 65px;
    top: 10%;
    width: 40%;
    margin: 0 230px 465px 645px;
}

.header-details {
    margin-top: 10%;
    margin-left: 0%;
    width: 40%;
    color: #202020;
    position: absolute;
    top: 25%;
    right: 15%;
}

.btn-contact-us {
    background: #fc9917;
    padding: 20px 25px;
    border: 0;
    color: antiquewhite;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    right: 18%;
}

section {
    margin: 120px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

.my-failures {
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 1039px;
}

.my-failures-description {
    width: 416px;
    height: 104px;
    left: 1062px;
    top: 1296px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #444343;
}

.my-failures-list {
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;

}

.my-plans-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
}

.skill-title {
    width: 270px;
    height: 35px;
    left: 230px;
    top: 2012.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    color: #151414;
}

.skills-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.item-container {
    display: flex;
}

.skill-description {
    text-align: left;
}

.call-us {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 28%;
    top: 170%;
    padding: auto;

}
.last-background{
    background-image: url"(./image/watch)" 

}
.main-foot{
    position: absolute;
    left: 28%;
    top: 163%;
    color:rgb(245, 240, 240) ;
    font-size: 40px;
}

.call-now-btn {
    color: #eb9370;
    padding: 20px 33px ;
    border-radius: 5px;
    position: absolute;
    left: 28%;
    top: 170%;
}

footer {
    background: #151414;
  
}
.btn-sub{
    color: #eb9370;
    padding: 20px 33px ;
    border-radius: 5px;

}
.footer-container > {
    display: flex;
}

.footer-1{
    color: aliceblue;
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
    padding-top: 10%;
}
.logo-container> li{
    display: flex;
}
nav{
    /* background-color: #151414; */
    justify-items: left;
}